<%- include("header") -%>

<h1>This is About Page</h1>
<p>
      My name is Sarvjeet Kumar.I am currently pursuing B.Tech in computer science from Indian Institute of Information and Technology,Guwahati.
      I have created a To-Do List website using nodeJS , ExpressJS and EJS.
      I have also applied css in it.
</p>

<%- include("footer") -%>